<a href="https://colab.research.google.com/github/rafaellccouto/posach_analise_vinhos_comercio/blob/main/Analise_vinhos_comercio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#Analise dados Vinhos
#Bibliotecas de manipulação de dados
import pandas as pd
import numpy as np
#Bibliotecas de visualização de dados
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
#Base de dados
df_comercialização = pd.read_csv('Comercializacao.csv', sep=';', on_bad_lines='skip')
df_exportacao = pd.read_csv('Exportacao.csv', sep=';', on_bad_lines='skip')
df_importacao = pd.read_csv('Importacao.csv', sep=';', on_bad_lines='skip')
df_processamento = pd.read_csv('Processamento.csv', sep=';', on_bad_lines='skip')
df_producao = pd.read_csv('Producao.csv', sep=';', on_bad_lines='skip')

In [8]:
df_comercialização.head()

,id,control,Produto,1970,1971,1972,1973,1974,1975,1976,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,1,VINHO DE MESA,VINHO DE MESA,98327606,114399031,118377367,116617910,94173324,108031792,139238614,...,206404427,209198468,166769622,176059959,177186273,180446489,215557931,210012238,187939996,187016848
1,2,vm_Tinto,Tinto,83300735,98522869,101167932,98196747,77167303,91528090,116407222,...,178250072,182028785,146646365,154309442,155115499,158519218,189573423,185653678,165067340,165097539
2,3,vm_Rosado,Rosado,107681,542274,7770851,8425617,8891367,7261777,11748047,...,1419855,1409002,1391942,1097426,1972944,1265435,1394901,1931606,2213723,2520748
3,4,vm_Branco,Branco,14919190,15333888,9438584,9995546,8114654,9241925,11083345,...,26734500,25760681,18731315,20653091,20097830,20661836,24589607,22426954,20658933,19398561
4,5,VINHO FINO DE MESA,VINHO FINO DE MESA,4430629,4840369,5602091,7202830,7571802,8848303,14095648,...,20424983,20141631,19630158,15874354,14826143,15684588,24310834,27080445,21533487,18589310

In [13]:
df_exportacao.head()

,Id,País,1970,1970.1,1971,1971.1,1972,1972.1,1973,1973.1,...,2019,2019.1,2020,2020.1,2021,2021.1,2022,2022.1,2023,2023.1
0,1,Afeganistão,0,0,0,0,0,0,0,0,...,0,0,0,0,11,46,0,0,0,0
1,2,África do Sul,0,0,0,0,0,0,0,0,...,26,95,4,21,0,0,0,0,117,698
2,3,"Alemanha, República Democrática",0,0,0,0,4168,2630,12000,8250,...,3660,25467,6261,32605,2698,6741,7630,45367,4806,31853
3,4,Angola,0,0,0,0,0,0,0,0,...,345,1065,0,0,0,0,4068,4761,0,0
4,5,Anguilla,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
df_importacao.head()

,Id,País,1970,1970.1,1971,1971.1,1972,1972.1,1973,1973.1,...,2019,2019.1,2020,2020.1,2021,2021.1,2022,2022.1,2023,2023.1
0,1,Africa do Sul,0,0.0,0,0,0,0,0,0,...,1092042,3604038,627150,1701072,859169,2508140,738116,2266827,522733,1732850
1,2,Alemanha,52297,30498.0,34606,26027,134438,92103,111523,98638,...,101055,412794,136992,504168,106541,546967,92600,438595,102456,557947
2,3,Argélia,0,0.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,Arábia Saudita,0,0.0,0,0,0,0,0,0,...,0,0,0,0,2510,8761,0,0,8,161
4,5,Argentina,19525,12260.0,24942,15022,104906,58137,116887,76121,...,16548931,54527380,22610267,66322932,26869241,79527959,27980574,87519642,25276991,83918138

In [15]:
df_processamento.head()

,id,control,cultivar,1970,1971,1972,1973,1974,1975,1976,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,1,TINTAS,TINTAS,10448228,11012833,10798824,8213674,17457849,22593885,20265190,...,29810706,29935627,13370866,32850915,26868514,nd,28003505,93296587,*,"35881118,23"
1,2,ti_Alicante Bouschet,Alicante Bouschet,0,0,0,0,0,0,0,...,1456305,1519576,908841,2040198,2103844,nd,2272985,811140,*,"4108858,21"
2,3,ti_Ancelota,Ancelota,0,0,0,0,0,0,0,...,937844,773526,179028,733907,492106,nd,481402,6513974,*,"783688,39"
3,4,ti_Aramon,Aramon,0,0,0,0,0,0,0,...,0,0,0,0,0,nd,0,0,*,0
4,5,ti_Alfrocheiro,Alfrocheiro,0,0,0,0,0,0,0,...,0,0,0,0,0,nd,0,0,*,0

In [17]:
df_producao.head()

,id,control,produto,1970,1971,1972,1973,1974,1975,1976,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,1,VINHO DE MESA,VINHO DE MESA,217208604,154264651,146953297,116710345,193875345,177401209,144565438,...,196173123,210308560,86319015,255015187,218375636,144629737,124200414,173899995,195031611,169762429
1,2,vm_Tinto,Tinto,174224052,121133369,118180926,88589019,146544484,144274134,118360170,...,157776363,169811472,75279191,1365957,188270142,121045115,103916391,146075996,162844214,139320884
2,3,vm_Branco,Branco,748400,1160500,1812367,243900,4138768,1441507,1871473,...,37438069,39557250,10727099,217527985,29229970,22032828,19568734,26432799,30198430,27910299
3,4,vm_Rosado,Rosado,42236152,31970782,26960004,27877426,43192093,31685568,24333795,...,958691,939838,312725,36121245,875524,1551794,715289,1391200,1988968,2531246
4,5,VINHO FINO DE MESA (VINIFERA),VINHO FINO DE MESA (VINIFERA),23899346,23586062,21078771,12368410,31644124,39424590,34500590,...,38464314,37148982,18070626,44537870,38707220,37615422,32516686,43474998,47511796,46268556

In [19]:
comercializacaofiltrada = df_comercialização.copy()

print("Primeiras 5 linhas do DataFrame comercializacaofiltrada (já filtrado de 1970 a 2007):")
print(comercializacaofiltrada.head())

Primeiras 5 linhas do DataFrame comercializacaofiltrada (já filtrado de 1970 a 2007):
   id              control              Produto       2008       2009  \
0   1        VINHO DE MESA        VINHO DE MESA  200488612  234525979
1   2             vm_Tinto                Tinto  172020779  193004182
2   3            vm_Rosado               Rosado    1840779    2307580
3   4            vm_Branco               Branco   26627054   39214217
4   5  VINHO  FINO DE MESA  VINHO  FINO DE MESA   23167738   33080270

        2010       2011       2012       2013       2014       2015  \
0  221242945  230310468  206969571  221590810  206404427  209198468
1  188649074  196562722  173964776  188033494  178250072  182028785
2    2036928    1668823    1738134    1777648    1419855    1409002
3   30556943   32078923   31266661   31779668   26734500   25760681
4   21390159   19967310   22469950   27912934   20424983   20141631

        2016       2017       2018       2019       2020       2021  \
0  166769622  176059959  177186273  180446489  215557931  210012238
1  146646365  154309442  155115499  158519218  189573423  185653678
2    1391942    1097426    1972944    1265435    1394901    1931606
3   18731315   20653091   20097830   20661836   24589607   22426954
4   19630158   15874354   14826143   15684588   24310834   27080445

        2022       2023
0  187939996  187016848
1  165067340  165097539
2    2213723    2520748
3   20658933   19398561
4   21533487   18589310

In [21]:
df_comercializacao_filtered.head()

,id,control,Produto,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,1,VINHO DE MESA,VINHO DE MESA,200488612,234525979,221242945,230310468,206969571,221590810,206404427,209198468,166769622,176059959,177186273,180446489,215557931,210012238,187939996,187016848
1,2,vm_Tinto,Tinto,172020779,193004182,188649074,196562722,173964776,188033494,178250072,182028785,146646365,154309442,155115499,158519218,189573423,185653678,165067340,165097539
2,3,vm_Rosado,Rosado,1840779,2307580,2036928,1668823,1738134,1777648,1419855,1409002,1391942,1097426,1972944,1265435,1394901,1931606,2213723,2520748
3,4,vm_Branco,Branco,26627054,39214217,30556943,32078923,31266661,31779668,26734500,25760681,18731315,20653091,20097830,20661836,24589607,22426954,20658933,19398561
4,5,VINHO FINO DE MESA,VINHO FINO DE MESA,23167738,33080270,21390159,19967310,22469950,27912934,20424983,20141631,19630158,15874354,14826143,15684588,24310834,27080445,21533487,18589310

In [22]:
df_comercializacao_filtered.to_csv('comercializacao_filtrada.csv', index=False)
print("DataFrame 'df_comercializacao_filtered' exportado para 'comercializacao_filtrada.csv'.")

DataFrame 'df_comercializacao_filtered' exportado para 'comercializacao_filtrada.csv'.

# Task
```python
# Remover colunas de 1970 a 2008 (incluindo '.1')
columns_to_remove = []
for year in range(1970, 2008):
    year_str = str(year)
    year_str_dot_1 = year_str + '.1'
    if year_str in df_exportacao.columns:
        columns_to_remove.append(year_str)
    if year_str_dot_1 in df_exportacao.columns:
        columns_to_remove.append(year_str_dot_1)

df_exportacao = df_exportacao.drop(columns=columns_to_remove, errors='ignore')

# Consolidar colunas de ano de 2008 a 2023
for year in range(2008, 2024):
    col_year = str(year)
    col_year_dot_1 = col_year + '.1'

    if col_year_dot_1 in df_exportacao.columns:
        # Converter ambas as colunas para numérico, tratando erros como NaN e preenchendo com 0
        df_exportacao[col_year] = (
            pd.to_numeric(df_exportacao[col_year], errors='coerce').fillna(0) +
            pd.to_numeric(df_exportacao[col_year_dot_1], errors='coerce').fillna(0)
        )
        # Remover a coluna com sufixo '.1'
        df_exportacao = df_exportacao.drop(columns=[col_year_dot_1])
    elif col_year in df_exportacao.columns:
        # Garantir que a coluna de ano existente seja numérica, mesmo que não haja '.1'
        df_exportacao[col_year] = pd.to_numeric(df_exportacao[col_year], errors='coerce').fillna(0)

# Exibir as primeiras linhas do DataFrame consolidado
print("DataFrame 'df_exportacao' após remoção de colunas antigas e consolidação de anos:")
print(df_exportacao.head())
```

## Remover Colunas Antigas

### Subtask:
Identificar e remover todas as colunas do DataFrame df_exportacao que correspondem aos anos de 1970 a 2007, incluindo aquelas com o sufixo '.1'.

In [23]:
columns_to_remove = []
for year in range(1970, 2008):
    year_str = str(year)
    year_str_dot1 = str(year) + '.1'

    if year_str in df_exportacao.columns:
        columns_to_remove.append(year_str)
    if year_str_dot1 in df_exportacao.columns:
        columns_to_remove.append(year_str_dot1)

df_exportacao = df_exportacao.drop(columns=columns_to_remove, errors='ignore')

print(f"Colunas removidas de df_exportacao: {columns_to_remove}")
print("df_exportacao após remoção de colunas antigas:")
df_exportacao.head()

Colunas removidas de df_exportacao: ['1970', '1970.1', '1971', '1971.1', '1972', '1972.1', '1973', '1973.1', '1974', '1974.1', '1975', '1975.1', '1976', '1976.1', '1977', '1977.1', '1978', '1978.1', '1979', '1979.1', '1980', '1980.1', '1981', '1981.1', '1982', '1982.1', '1983', '1983.1', '1984', '1984.1', '1985', '1985.1', '1986', '1986.1', '1987', '1987.1', '1988', '1988.1', '1989', '1989.1', '1990', '1990.1', '1991', '1991.1', '1992', '1992.1', '1993', '1993.1', '1994', '1994.1', '1995', '1995.1', '1996', '1996.1', '1997', '1997.1', '1998', '1998.1', '1999', '1999.1', '2000', '2000.1', '2001', '2001.1', '2002', '2002.1', '2003', '2003.1', '2004', '2004.1', '2005', '2005.1', '2006', '2006.1', '2007', '2007.1']
df_exportacao após remoção de colunas antigas:

,Id,País,2008,2008.1,2009,2009.1,2010,2010.1,2011,2011.1,...,2019,2019.1,2020,2020.1,2021,2021.1,2022,2022.1,2023,2023.1
0,1,Afeganistão,0,0,0,0,0,0,0,0,...,0,0,0,0,11,46,0,0,0,0
1,2,África do Sul,0,0,0,0,0,0,0,0,...,26,95,4,21,0,0,0,0,117,698
2,3,"Alemanha, República Democrática",265742,429970,225086,393482,27715,138666,36070,144150,...,3660,25467,6261,32605,2698,6741,7630,45367,4806,31853
3,4,Angola,25721,71083,54786,84235,33557,189891,13889,69001,...,345,1065,0,0,0,0,4068,4761,0,0
4,5,Anguilla,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [24]:
for year in range(2008, 2024):
    col_year = str(year)
    col_year_dot_1 = col_year + '.1'

    if col_year_dot_1 in df_exportacao.columns:
        # Convert both columns to numeric, treating errors as NaN and filling with 0
        df_exportacao[col_year] = (
            pd.to_numeric(df_exportacao[col_year], errors='coerce').fillna(0) +
            pd.to_numeric(df_exportacao[col_year_dot_1], errors='coerce').fillna(0)
        )
        # Remove the column with '.1' suffix
        df_exportacao = df_exportacao.drop(columns=[col_year_dot_1])
    elif col_year in df_exportacao.columns:
        # Ensure that the existing year column is numeric, even if there is no '.1'
        df_exportacao[col_year] = pd.to_numeric(df_exportacao[col_year], errors='coerce').fillna(0)

print("DataFrame 'df_exportacao' após consolidação de anos:")
df_exportacao.head()

DataFrame 'df_exportacao' após consolidação de anos:

,Id,País,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,1,Afeganistão,0,0,0,0,0,0,0,0,0,0,0,0,0,57,0,0
1,2,África do Sul,0,0,0,0,0,0,0,0,0,0,0,121,25,0,0,815
2,3,"Alemanha, República Democrática",695712,618568,166381,180220,64531,327677,975001,55460,82121,103169,56176,29127,38866,9439,52997,36659
3,4,Angola,96804,139021,223448,82890,11694,10873,35306,18997,42749,71850,1186,1410,0,0,8829,0
4,5,Anguilla,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [25]:
print("DataFrame 'df_exportacao' após remoção de colunas antigas e consolidação de anos:")
df_exportacao.head()

DataFrame 'df_exportacao' após remoção de colunas antigas e consolidação de anos:

,Id,País,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,1,Afeganistão,0,0,0,0,0,0,0,0,0,0,0,0,0,57,0,0
1,2,África do Sul,0,0,0,0,0,0,0,0,0,0,0,121,25,0,0,815
2,3,"Alemanha, República Democrática",695712,618568,166381,180220,64531,327677,975001,55460,82121,103169,56176,29127,38866,9439,52997,36659
3,4,Angola,96804,139021,223448,82890,11694,10873,35306,18997,42749,71850,1186,1410,0,0,8829,0
4,5,Anguilla,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [26]:
df_exportacao.to_csv('exportacao_filtrada.csv', index=False)
print("DataFrame 'df_exportacao' exportado para 'exportacao_filtrada.csv'.")

DataFrame 'df_exportacao' exportado para 'exportacao_filtrada.csv'.

In [27]:
df_exportacao_filtrada = pd.read_csv('exportacao_filtrada.csv')
df_exportacao_filtrada.head()

,Id,País,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,1,Afeganistão,0,0,0,0,0,0,0,0,0,0,0,0,0,57,0,0
1,2,África do Sul,0,0,0,0,0,0,0,0,0,0,0,121,25,0,0,815
2,3,"Alemanha, República Democrática",695712,618568,166381,180220,64531,327677,975001,55460,82121,103169,56176,29127,38866,9439,52997,36659
3,4,Angola,96804,139021,223448,82890,11694,10873,35306,18997,42749,71850,1186,1410,0,0,8829,0
4,5,Anguilla,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [28]:
# Reload original dataframes to ensure fresh start
df_comercialização = pd.read_csv('Comercializacao.csv', sep=';', on_bad_lines='skip')
df_exportacao = pd.read_csv('Exportacao.csv', sep=';', on_bad_lines='skip')

# --- Processamento para comercializacaofiltrada (sem 2008) ---
# Colunas não-numéricas para df_comercialização
non_numeric_cols_comercializacao = ['id', 'control', 'Produto']

# Colunas de ano a serem removidas (1970 a 2008)
comercializacao_cols_to_remove = [str(year) for year in range(1970, 2009)]

# Filtrar df_comercialização para manter apenas colunas a partir de 2009
# Primeiro, criar uma lista de todas as colunas que devem ser mantidas
all_comercializacao_cols = df_comercialização.columns.tolist()
comercializacao_cols_to_keep = non_numeric_cols_comercializacao + \
    [col for col in all_comercializacao_cols if col not in comercializacao_cols_to_remove and col.isdigit() and int(col) >= 2009]

comercializacaofiltrada = df_comercialização[comercializacao_cols_to_keep].copy()
print("\nDataFrame 'comercializacaofiltrada' (sem 2008):")
print(comercializacaofiltrada.head())

# --- Processamento para exportacao_filtrada (sem 2008 e consolidado) ---
# Colunas não-numéricas para df_exportacao
non_numeric_cols_exportacao = ['Id', 'País']

# Remover colunas de 1970 a 2008 (incluindo '.1')
exportacao_cols_to_remove = []
for year in range(1970, 2009):
    year_str = str(year)
    year_str_dot_1 = year_str + '.1'
    if year_str in df_exportacao.columns:
        exportacao_cols_to_remove.append(year_str)
    if year_str_dot_1 in df_exportacao.columns:
        exportacao_cols_to_remove.append(year_str_dot_1)

df_exportacao = df_exportacao.drop(columns=exportacao_cols_to_remove, errors='ignore')

# Consolidar colunas de ano de 2009 a 2023
for year in range(2009, 2024):
    col_year = str(year)
    col_year_dot_1 = col_year + '.1'

    if col_year_dot_1 in df_exportacao.columns:
        # Converter ambas as colunas para numérico, tratando erros como NaN e preenchendo com 0
        df_exportacao[col_year] = (
            pd.to_numeric(df_exportacao[col_year], errors='coerce').fillna(0) +
            pd.to_numeric(df_exportacao[col_year_dot_1], errors='coerce').fillna(0)
        )
        # Remover a coluna com sufixo '.1'
        df_exportacao = df_exportacao.drop(columns=[col_year_dot_1])
    elif col_year in df_exportacao.columns:
        # Garantir que a coluna de ano existente seja numérica, mesmo que não haja '.1'
        df_exportacao[col_year] = pd.to_numeric(df_exportacao[col_year], errors='coerce').fillna(0)

exportacao_filtrada = df_exportacao.copy()
print("\nDataFrame 'exportacao_filtrada' (sem 2008 e consolidado):")
print(exportacao_filtrada.head())

DataFrame 'comercializacaofiltrada' (sem 2008):
   id              control              Produto       2009       2010  \
0   1        VINHO DE MESA        VINHO DE MESA  234525979  221242945
1   2             vm_Tinto                Tinto  193004182  188649074
2   3            vm_Rosado               Rosado    2307580    2036928
3   4            vm_Branco               Branco   39214217   30556943
4   5  VINHO  FINO DE MESA  VINHO  FINO DE MESA   33080270   21390159

        2011       2012       2013       2014       2015       2016  \
0  230310468  206969571  221590810  206404427  209198468  166769622
1  196562722  173964776  188033494  178250072  182028785  146646365
2    1668823    1738134    1777648    1419855    1409002    1391942
3   32078923   31266661   31779668   26734500   25760681   18731315
4   19967310   22469950   27912934   20424983   20141631   19630158

        2017       2018       2019       2020       2021       2022       2023
0  176059959  177186273  180446489  215557931  210012238  187939996  187016848
1  154309442  155115499  158519218  189573423  185653678  165067340  165097539
2    1097426    1972944    1265435    1394901    1931606    2213723    2520748
3   20653091   20097830   20661836   24589607   22426954   20658933   19398561
4   15874354   14826143   15684588   24310834   27080445   21533487   18589310

DataFrame 'exportacao_filtrada' (sem 2008 e consolidado):
   Id                             País    2009    2010    2011   2012    2013  \
0   1                      Afeganistão       0       0       0      0       0
1   2                    África do Sul       0       0       0      0       0
2   3  Alemanha, República Democrática  618568  166381  180220  64531  327677
3   4                           Angola  139021  223448   82890  11694   10873
4   5                         Anguilla       0       0       0      0       0

     2014   2015   2016    2017   2018   2019   2020  2021   2022   2023
0       0      0      0       0      0      0      0    57      0      0
1       0      0      0       0      0    121     25     0      0    815
2  975001  55460  82121  103169  56176  29127  38866  9439  52997  36659
3   35306  18997  42749   71850   1186   1410      0     0   8829      0
4       0      0      0       0      0      0      0     0      0      0

In [29]:
comercializacaofiltrada.to_csv('comercializacao_filtrada_sem_2008.csv', index=False)
print("DataFrame 'comercializacaofiltrada' (sem 2008) exportado para 'comercializacao_filtrada_sem_2008.csv'.")

DataFrame 'comercializacaofiltrada' (sem 2008) exportado para 'comercializacao_filtrada_sem_2008.csv'.

In [30]:
exportacao_filtrada.to_csv('exportacao_filtrada_sem_2008.csv', index=False)
print("DataFrame 'exportacao_filtrada' (sem 2008 e consolidado) exportado para 'exportacao_filtrada_sem_2008.csv'.")

DataFrame 'exportacao_filtrada' (sem 2008 e consolidado) exportado para 'exportacao_filtrada_sem_2008.csv'.